<body class="body">
<h1>{{ title }}</h1>

<!-- <div class="kidsBody"> -->
<a class="Back" href="javascript: window.history.go(-1)">Back</a>
  <h2 class="title">{{trailers.movies_title}}</h2>

<div class="TrailerPage">

<video class="Trailers" controls autoplay>
  <source src="/video/{{trailers.movies_trailer}}" type="video/mp4">
</video>

  <p> {{trailers.movies_storyline}}</p>
</div>

</body>
