
<body class="body">
<h1>{{ title }}</h1>
<div class="users">
<a class="userOne" href="/adults"><img src="./images/adults.png"></a>

<a class="userTwo" href="/kids"><img src="./images/kids.png" alt=""></a>

</div>

<!-- <a href="#">Switch Profiles</a> -->
</body>
