

<body class="body">
<h1>{{ title }}</h1>
<h3>{{message}}</h3>

<div class="dropdown">
  <button class="dropbtn">Genre</button>
  <div class="dropdown-content">
    <a href="#">Action</a>
    <a href="#">Comedy</a>
    <a href="#">Horror</a>
    <a href="#">Romance</a>
    <a href="#">Romcom</a>
  </div>
</div>



</body>
