<body class="bodyKid">
<h1>{{ title }}</h1>
<h3>{{message}}</h3>

<div class="kidsBody">
<div class="dropdown">
  <button class="dropbtn">Genre</button>
  <div class="dropdown-content">
    <a href="#">Comedy</a>
    <a href="#">Romance</a>
    <a href="#">Romcom</a>
  </div>
</div>
</div>
</body>
